body {
    display: flex;
    justify-content: center;
}

main {
    width: 50%;
    padding: 20px;
    border: 5px solid #ebebeb;
}

.license-cost {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 0;
}

.number-licenses {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}